[Unit]
Description=Baby Monitor Relay
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/env java -jar %h/.local/share/babymonitor-relay.jar <my-host-name>
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
