<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    // Required 37+ for LAN discovery: https://developer.android.com/privacy-and-security/local-network-permission
    <uses-permission android:name="android.permission.ACCESS_LOCAL_NETWORK" />

</manifest>
